<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541191443227-s3459iunrss6l8rpugde4v1pu9942iua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541191443227-s3459iunrss6l8rpugde4v1pu9942iua</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>541191443227-mdpabr63but2e4feocptktguibtvrbeu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIzKF4VACp8gdu4QLK67Kw4bRt0QUKo-U</string>
	<key>GCM_SENDER_ID</key>
	<string>541191443227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.senkogrouphd.hapilk.development</string>
	<key>PROJECT_ID</key>
	<string>senko-kenko-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>senko-kenko-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541191443227:ios:23c1f51275eed54471f9be</string>
	<key>DATABASE_URL</key>
	<string>https://senko-kenko-dev.firebaseio.com</string>
</dict>
</plist>